body{
    background-color: slategray;
}
.timer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.field{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.value{
    font-size: 70px;
    padding: 15px;
    background-color: grey;
    border-radius: 20%;

}
.label {
  font-size: 16px;
  text-align: center;
  color:white;
  padding-top: 10px;
}
